In [1]:
library(DatabaseConnector)
library(SqlRender)

In [2]:
args = c(
    project_id="som-nero-phi-nigam-starr",
    email="spfohl@stanford.edu",
    credentials_path="/home/spfohl/.config/gcloud/application_default_credentials.json",
    path_to_driver="/share/sw/open/simba/SimbaJDBCDriverforGoogleBigQuery42_1.2.1.1001",
#     schema='starr_omop_cdm5_deid_20200404',
    schema='starr_omop_cdm5_deid_20200404',
    rs_schema='plp_cohort_tables',
    cohort='admission_rollup_20200404_with_labels_sampled'
)

In [4]:
# Sys.setenv(GOOGLE_APPLICATION_CREDENTIALS="/home/spfohl/.config/gcloud/application_default_credentials.json")
Sys.setenv(GOOGLE_APPLICATION_CREDENTIALS=args['credentials_path'])

In [18]:
connection_string=sprintf(
    "jdbc:bigquery://https://www.googleapis.com/bigquery/v2:443;ProjectId=%s;OAuthType=3;OAuthServiceAcctEmail=%s;OAuthPvtKeyPath=%s;Timeout=1000000;DefaultDataset=%s",
    args['project_id'],
    args['email'],
    args['credentials_path'],
    args['rs_schema']
)

In [19]:
connection_string=sprintf(
    "jdbc:bigquery://https://www.googleapis.com/bigquery/v2:443;ProjectId=%s;OAuthType=0;OAuthServiceAcctEmail=%s;OAuthPvtKeyPath=%s;Timeout=1000000",
    args['project_id'],
    args['email'],
    args['credentials_path']
#     args['rs_schema']
)

In [22]:
connection_string

[1] "jdbc:bigquery://https://www.googleapis.com/bigquery/v2:443;ProjectId=som-nero-phi-nigam-starr;OAuthType=0;OAuthServiceAcctEmail=spfohl@stanford.edu;OAuthPvtKeyPath=/home/spfohl/.config/gcloud/application_default_credentials.json;Timeout=1000000"

In [23]:
connectionDetails <- createConnectionDetails(
    dbms='bigquery', 
    connectionString=connection_string,
    user="",
    password="", 
    pathToDriver=args['path_to_driver']
)

In [24]:
conn <- connect(connectionDetails)

Connecting using BigQuery driver

In [16]:
query <- render("
SELECT *
FROM @rs_schema.@cohort t1
INNER JOIN @schema.condition_occurrence as t2
    ON t1.person_id = t2.person_id
LIMIT 10
", schema=args['schema'], rs_schema=args['rs_schema'], cohort=args['cohort']
)

In [ ]:
query <- render("
SELECT *
FROM @rs_schema.@cohort t1
INNER JOIN @schema.condition_occurrence as t2
    ON t1.person_id = t2.person_id
LIMIT 10
", schema=args['schema'], rs_schema=args['rs_schema'], cohort=args['cohort']
)

In [59]:
query <- render(
    "
    SELECT t1.person_id, condition_concept_id
    FROM @rs_schema.@cohort t1
    INNER JOIN @schema.condition_occurrence t2
        ON t1.person_id = t2.person_id
    LIMIT 10", 
    schema=args['schema'], rs_schema=args['rs_schema'], cohort=args['cohort']
)

In [60]:
query

[1] "\nSELECT t1.person_id, condition_concept_id\nFROM plp_cohort_tables.admission_rollup_20191214032155_wJDmh1 t1\nINNER JOIN starr_omop_cdm5_deid_20191214032155_wJDmh1.condition_occurrence t2\n    ON t1.person_id = t2.person_id\nLIMIT 10\n"

In [17]:
result <- querySql(conn, query)

ERROR: Error: Error executing SQL:
java.sql.SQLException: [Simba][BigQueryJDBCDriver](100032) Error executing query job. Message: Duplicate column names in the result are not supported. Found duplicate(s): person_id
An error report has been created at  /home/spfohl/projects/prediction_utils/prediction_utils/extraction_utils/notebooks/errorReport.txt

In [62]:
result

   PERSON_ID CONDITION_CONCEPT_ID
1  31959826  441830
2  29955047  132853
3  29955047  132853
4  29955047  132853
5  29955047  132853
6  29955047  132853
7  29955047  132853
8  31067482  194092
9  31405296  257011
10 31405296  257011